<template name="canvas">
  {{#each pictures}}
    Points {{points.length}}
  {{/each}}
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="col s1">
          <a id="newPicture" class="waves-effect waves-light btn"><i class="mdi-content-add"></i></a>
        </div>
        <div class="input-field col s10">
          <input placeholder="My picture" type="text" size=50 id="picName" class="validate" value="{{picture.name}}">
          <label class="active" for="picName">{{_ "picture_name"}}</label>
        </div>
      </div>
        <div class="input-field col s4">
          <select id="color">
            <option value="#F00">{{_ "red"}}</option>
            <option value="#0F0">{{_ "green"}}</option>
            <option value="#00F">{{_ "blue"}}</option>
            <option value="#FF0">{{_ "yellow"}}</option>
            <option value="#0FF">{{_ "turquoise"}}</option>
            <option value="#F0F">{{_ "purple"}}</option>
            <option value="#666">{{_ "gray"}}</option>
            <option value="#000">{{_ "black"}}</option>
            <option value="#FFF">{{_ "white"}}</option>
          </select>
          <label class="active" for="color">{{_ "color"}}</label>
        </div>
        <div class="input-field col s4">
          <select id="thickness">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="4">4</option>
            <option value="8">8</option>
            <option value="12">12</option>
            <option value="16">16</option>
            <option value="28">28</option>
            <option value="44">44</option>
          </select>
          <label class="active" for="thickness">Thickness</label>
        </div>
        <div class="input-field col s4">
          <select id="bodyPart">
            <option value="head">{{_ "head"}}</option>
            <option value="body">{{_ "body"}}</option>
            <option value="legs">{{_ "legs"}}</option>
          </select>
          <label class="active" for="bodyPart">{{_ "body_part"}}</label>
      </div>
    </form>
  </div>

  <div class="row dottedBorder">
    <canvas id="canvas-interactive" class="canvas disableScroll" width="800" height="400"></canvas>
  </div>
</template>
