<template name="canvas">
  {{#each pictures}}
    Points {{points.length}}
  {{/each}}
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="col s1">
          <a id="newPicture" class="waves-effect waves-light btn"><i class="mdi-content-add"></i></a>
        </div>
        <div class="input-field col s10">
          <input placeholder="My picture" type="text" size=50 id="picName" class="validate" value="{{picture.name}}">
          <label class="active" for="picName">Picure name</label>
        </div>
      </div>
        <div class="input-field col s4">
          <select id="color">
            <option value="#F00">Red</option>
            <option value="#0F0">Green</option>
            <option value="#00F">Blue</option>
            <option value="#FF0">Yellow</option>
            <option value="#0FF">Turquoise</option>
            <option value="#F0F">Purple</option>
            <option value="#666">Gray</option>
            <option value="#000">Black</option>
            <option value="#FFF">White</option>
          </select>
          <label class="active" for="color">Color</label>
        </div>
        <div class="input-field col s4">
          <select id="thickness">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="4">4</option>
            <option value="8">8</option>
            <option value="12">12</option>
            <option value="16">16</option>
            <option value="28">28</option>
            <option value="44">44</option>
          </select>
          <label class="active" for="thickness">Thickness</label>
        </div>
        <div class="input-field col s4">
          <select id="bodyPart">
            <option value="head">Head</option>
            <option value="body">Body</option>
            <option value="legs">Legs</option>
          </select>
          <label class="active" for="bodyPart">Body part</label>
      </div>
    </form>
  </div>

  <div class="row dottedBorder">
    <canvas id="canvas-interactive" class="canvas disableScroll" width="800" height="400"></canvas>
  </div>
</template>
